.service-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/services/bg-top-itconsulting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

}

.service-stragty-box{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    padding: 50px 50px 50px 80px;
}